/* This is a comment */

* {
  margin: 10 10;
  padding: 0;
}
/* Base typography */
body{
front-family: helvetica, arial, sans-serif;
font-size: 14px;
line-height: 21px;
background-color: rgb(129, 163, 191);
padding: 30px;
color: #333;
}
