
/** I used css we did in class for base of this project*/

body {
  color: #000000;
  font: 'Handlee', cursive;
  font-family: 'Handlee', cursive;
  font-size: 1.5em;
  line-height: 150%;
  text-align: center;

}
.nav {
  order: -1; /* move nav to the top*/  /** used this tutorial for navigation bar http://www.w3schools.com/css/css_navbar.asp */
  padding: 1em;
  background: white;
  font-family: 'Handlee', cursive;

    color: black;
    text-decoration: none;

}
a {
    color: black; /** used this tutorial for navigation bar http://www.w3schools.com/css/css_navbar.asp */
    text-decoration: none;
}

a:hover  /** used this tutorial for navigation bar http://www.w3schools.com/css/css_navbar.asp */
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
div {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}



.container { /** Used css tricks half and half and teachers 2 side codepen */
  display: -ms-grid;
  -ms-grid-columns: 50% auto;
}

.left-half { /** Used css tricks half and half and teachers 2 side codepen */
  background: rgb(199, 219, 240);
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  float: center;
  text-align: center;

}

.right-half {/** Used css tricks half and half and teachers 2 side codepen */ /** Used css tricks half and half (https://css-tricks.com/left-and-right/ ) and teachers half and half codepen */
  background: rgb(199, 219, 240);
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

.footer {
  padding: 1em;
  background: rgb(28,83,110);
  text-align: center;
  text-decoration-color: white;
}


form { /** Used both teacher codepen tutorials for form */
  border: solid black 5px;
  padding: 1em;
  width: 40%; margin:0 auto;
  min-width: 15em;
  max-width: 26.5em;
  text-align: center;

}
.form-title { /** Used both teacher codepen tutorials for form */
  margin-top: 0;

}

.form-group {  /** Used both teacher codepen tutorials for form */
  margin-bottom: 0.5em;

}

textarea {  /** Used both teacher codepen tutorials for form */
  width: 96%;
  resize: none;

}

fieldset { /** Used both teacher codepen tutorials for form */
  width: inherit;
}
.option-list {  /** Used both teacher codepen tutorials for form */
  display: inline-block;
}
