/** I used css we did in class for base of this project*/


body {
  color: #000000;
  font: 'Handlee', cursive;
  font-family: 'Handlee', cursive;
  font-size: 1.5em;
  line-height: 150%;
  text-align: center;

}
.nav {
  order: -1; /* move nav to the top*/  /** used this tutorial for navigation bar http://www.w3schools.com/css/css_navbar.asp */
  padding: 1em;
  background: white;
  font-family: 'Handlee', cursive;

    color: black;
    text-decoration: none;

}
a {
    color: black;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
div {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}


/* Pattern styles */
.container {
  display: -ms-grid;
  -ms-grid-columns: 50% auto;
}

.left-half { /** Used css tricks half and half (https://css-tricks.com/left-and-right/ ) and teachers half and half codepen */
  background: rgb(199, 219, 240);
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.right-half {
  background: rgb(199, 219, 240);
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

.footer {
  padding: 1em;
  background: rgb(28,83,110);
  text-align: center;
  text-decoration-color: white;
}
